altair==5.5.0
annotated-types==0.7.0
attrs==24.2.0
bcrypt==4.2.1
blinker==1.9.0
blis==1.1.0
bunkai==1.5.2
cachetools==5.5.0
captcha==0.6.0
catalogue==2.0.10
certifi==2024.12.14
charset-normalizer==3.4.0
click==8.1.7
cloudpathlib==0.20.0
colorama==0.4.6
confection==0.1.5
contourpy==1.3.1
cycler==0.12.1
cymem==2.0.10
dataclasses-json==0.6.7
emoji==1.7.0
emojis==0.7.0
extra-streamlit-components==0.1.71
filelock==3.16.1
fonttools==4.55.3
fsspec==2024.12.0
fugashi==1.4.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.37.0
google-auth-oauthlib==1.2.1
gspread==6.1.4
httplib2==0.22.0
huggingface-hub==0.27.0
idna==3.10
ipadic==1.0.0
Janome==0.5.0
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
langcodes==3.5.0
language_data==1.3.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.2
matplotlib==3.10.0
mdurl==0.1.2
janome
more-itertools==10.5.0
mpmath==1.3.0
murmurhash==1.0.11
mypy-extensions==1.0.0
narwhals==1.18.3
networkx==3.4.2
nltk==3.9.1
numpy==2.2.0
oauth2client==4.1.3
oauthlib==3.2.2
oseti==0.4.2
packaging==24.2
pandas==2.2.3
pillow==11.0.0
plac==1.4.3
preshed==3.0.9
protobuf==5.29.1
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.4
pydantic_core==2.27.2
pydeck==0.9.1
Pygments==2.18.0
PyJWT==2.10.1
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rhoknp==1.3.0
rich==13.9.4
rpds-py==0.22.3
rsa==4.9
safetensors==0.4.5
scikit-learn==1.6.0
scipy==1.14.1
sentencepiece==0.2.0
setuptools==75.6.0
shellingham==1.5.4
six==1.17.0
smart-open==7.1.0
smmap==5.0.1
spacy==3.8.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacytextblob==5.0.0
Spans==1.1.1
srsly==2.5.0
streamlit==1.41.1
streamlit-authenticator==0.4.1
SudachiDict-core==20241021
SudachiPy==0.6.9
sympy==1.13.1
tenacity==9.0.0
textblob==0.18.0.post0
thinc==8.3.3
threadpoolctl==3.5.0
tokenizers==0.21.0
toml==0.10.2
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado==6.4.2
tqdm==4.67.1
transformers==4.47.1
typer==0.15.1
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
unidic==1.1.0
unidic-lite==1.0.8
urllib3==2.2.3
vaderSentiment==3.3.2
wasabi==0.10.1
watchdog==6.0.0
weasel==0.4.1
wrapt==1.17.0
